*{
	margin: 0;
	padding: 0;
	border: 0;
}
a{
	text-decoration: none;
}

a:visited{
	color: white;
}

body{
	font-family: arial,sans-serif;
	background-color: rgb(206, 225, 255);
}

h3{
	text-align: center;
	margin-top: 1%;
}

.heading {
	padding: 20px;
	background-color: rgb(62, 83, 117);
	margin: 0;
	border: 0;

}

.heading h1{
	color: white;
	font-size: 40px;
	text-align: center;
	border: 0;
	margin: 0;
}

.head-bar{
	background-color: rgb(46, 62, 86);
	margin: 0;
	border: 0;
	color: #fff;
	text-align: center;
}

.head-bar p{
	margin: 0;
	padding: 0;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 10px;
  }

.grid-item {
	border: 1px;
	padding: 20px;
	font-size: 30px;
	text-align: center;
  }

  .text-box{	
	text-align: center;
	margin: 2% 10% 2% 10%;
	
}

  .map {
	  width: 30%;
	  margin: 0 auto;
  }

  .footer{
	padding: 2%;
	color: #fff;
	background-color:rgb(46, 62, 86) ;
	position: absolute;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
}

.footer1{
	padding: 2%;
	color: #fff;
	background-color:rgb(46, 62, 86) ;
}
